# Select a server port
server.port=8000
#!!!Verify for production!!!
# https://springhow.com/spring-boot-database-initialization/#h-database-schema-initialization-through-hibernate
spring.jpa.hibernate.ddl-auto=create
# Your postgres configuration; Check wiki for other databases
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.url=jdbc:postgresql://<localhost/domain/IP>:<port>/<databasename>
spring.datasource.username=username
spring.datasource.password=password
spring.devtools.add-properties=false
#log4j CVE-2021-44228
log4j2.formatMsgNoLookups=